###########################
# Flutter / Dart (limpio) #
###########################
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.pub-cache/
.pub/
build/
untranslated_messages.txt
coverage/

# Bloqueo de dependencias (para apps normalmente se versiona, aquí se ignora por tu preferencia)
pubspec.lock

###########
# Plataformas NO móviles incluidas por flutter create que quieres excluir
###########
web/
windows/
macos/
linux/

################
# iOS (regenerable)
################
ios/Flutter/.last_build_id
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/Pods/Manifest.lock
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig

################
# Android (regenerable)
################
android/.gradle/
android/.cxx/
android/local.properties
*.iml
*.hprof
*.log
*.pyc
*.pyo
*.pyd
.gradle/
.idea/

################
# SO / Editor
################
*.DS_Store
*.AppleDouble
*.LSOverride
*~
.vscode/
.metadata

################
# FVM
################
.fvm/
.fvmrc

################
# Otros generados específicos (antes listados individualmente)
################
.dart_tool/flutter_build/
.dart_tool/package_config_subset

# Mantener fuera posibles archivos de claves / secretos (añade si los creas):
key.properties
**/*.keystore
**/*.jks
